@model gmailserver1.Models.Sent

@{
    ViewBag.Title = "Compose";
}
<html>
    <head>
        <title></title>
        <style>
            body {margin:0px;
            }
            #container {height:600px;width:100%;background-color:gray;
            }
            #container-left {height:600px;width:29%;background-color:white;float:left;border-right:groove;
            }
            #container-right {height:600px;width:70%;background-color:white;float:left;
            }
            #side_menu {
                margin:0px;padding:30px;
            }
            #side_menu>li {list-style:none;padding:6px 25px;border-bottom:groove;
            }
                #side_menu > li > a {text-decoration:none;
                }
                #side_menu > li > a:hover {text-decoration:underline;text-decoration-color:red;
                }
                                           #top_menu {
                margin:0px;padding:10px;
            }
            #top_menu>li {list-style:none;padding:6px 25px;border-bottom:groove;display:inline-block;
            }
                #top_menu > li > a {text-decoration:none;
                }
                #top_menu > li > a:hover {text-decoration:underline;text-decoration-color:red;
                }
        </style>
    </head>
    <body>
         <h2>Welcome <span style="color:red">@ViewBag.name</span> <label style="margin-left:600px">@Html.ActionLink("Logout","Logout","Home")</label></h2>
         <hr />
        <div id="container"> 
            <div id="container-left"> 
                <ul id="side_menu">
                            <li><a href="~/Home/Compose">Compose</a></li>
                            <li><a href="~/Home/User_Profile">Inbox (@ViewBag.Count)</a></li>
                            <li><a href="~/Home/Sent">Sent</a></li>
                            <li><a href="~/Home/Draft">Draft</a></li>
                            <li><a href="~/Home/Trash">Trash</a></li>
                        </ul>
            </div>
            <div id="container-right">
                       <ul id="top_menu">
                            <li><a href="~/Home/User_Profile">Primary</a></li>
                            <li><a href="~/Home/User_Profile">Social</a></li>
                            <li><a href="~/Home/User_Profile">Promotional</a></li>
                        </ul>
 <h2>Compose</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Msg_Send</legend>
        <p style="color:red;">@ViewBag.m1</p>
        <div class="editor-label">

        </div>
        <div class="editor-field">
            <input type="hidden" value="@ViewBag.email" name="Sender" />
            @Html.ValidationMessageFor(model => model.Sender)
        </div>

        <div class="editor-label">
           To
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Receiver)
            @Html.ValidationMessageFor(model => model.Receiver)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Subject)
            @Html.ValidationMessageFor(model => model.Subject)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Body)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>

        <div class="editor-label">
        </div>
        <div class="editor-field">
            <input type="hidden" value="@DateTime.Now" name="CrDate" />
            @Html.ValidationMessageFor(model => model.CrDate)
        </div>

        <p>
            <input type="submit" value="Send" name="submitButton" /><input type="submit" value="Save" name="submitButton" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

            </div>
        </div>
    </body>
</html>
